<!doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/public/style.css">
</head>
<body>
  <h1>Hello, {{.SourceIP}}</h1>
  <h1>Some useful information</h1>
  <p>Instance ID: {{.AWS.InstanceID}}</p>

  <h1>Dummy table</h1>

    <table>
      <caption>Alien football stars</caption>
      <tr>
          <th scope="col">Player</th>
          <th scope="col">Gloobles</th>
          <th scope="col">Za'taak</th>
      </tr>
      <tr>
          <th scope="row">TR-7</th>
          <td>7</td>
          <td>4,569</td>
      </tr>
      <tr>
          <th scope="row">Khiresh Odo</th>
          <td>7</td>
          <td>7,223</td>
      </tr>
      <tr>
          <th scope="row">Mia Oolong</th>
          <td>9</td>
          <td>6,219</td>
      </tr>
  </table>

</body>
</html>
