<!doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/public/style.css">
</head>
<body>
  <h1>Hello, {{.SourceIP}}</h1>
  <h1>Some useful information</h1>
  <p>Instance ID: {{.AWS.InstanceID}}</p>
  <p>Status: {{.ConnectionStatus}}</p>

  <p>Tags</p>
  {{ range $key, $value := .AWS.Tags }}
   <li><strong>{{ $key }}</strong>: {{ $value }}</li>
  {{ end }}

  <h1>Pets</h1>

    <table>
      <caption>Pets</caption>
      <tr>
          <th scope="col">Name</th>
          <th scope="col">Owner</th>
          <th scope="col">Species</th>
          <th scope="col">Sex</th>
          <th scope="col">BirthDate</th>
          <th scope="col">DeathDate</th>
      </tr>
      {{range .Pets}}
      <tr>
        <th scope="row">{{.Name}}</th>
        <td>{{.Owner}}</td>
        <td>{{.Species}}</td>
        <td>{{.Sex}}</td>
        <td>{{.BirthDate}}</td>
        <td>{{.DeathDate}}</td>
      </tr>
      {{end}}
  </table>

</body>
</html>
